.body{
    background-color: white;
}

#starter {
    background-color: #22252c;
    left: 0px;
    right: 0px;
    top: 110px;
    padding: 10px;
    width: 90%;
}

.back{
    background-color: #22252c;
    margin: auto;
    background-attachment: fixed;
}

.header{
    width: 90%;

    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    height: 80px;
    border-bottom: 10px solid #E7E6DF;
    padding: 10px;
}

.axis{
    fill: white;
}

#space{
    top: 110px;
    margin: auto;
}