.parent{
	width:100%;
}

.body{
	/*background-color: #22252c;*/
	background-color: #f8f8f8;
}

.test{
	color: #222222;
}

.headers{
	font-family: "Sans-serif", Verdana;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

#Cause{
	color: #222222;
	font-family: "Sans-serif", Verdana;
	display: inline-block;
	font-size: 30px;
}

#Year{
	color: #FF4040;
	display: inline-block;
	font-size: 30px;
}

.text{
	font-family: "Sans-serif", Verdana;
    color: rgb(33, 33, 32);
}

#counter{
    color: #FF4040;
}

.top{
	position: fixed;
	top: 0;
    width: 40%;
	height: 150px;
	background-color: #f8f8f8;
	text-align: center;
}

.nodes{
}

.left{
	margin-left: 15px;
	margin-top: 200px;
	float:left;
	width:500px;
	box-sizing:border-box;
	padding:5px;
	min-height:200px;
}

.middle{
	float:left;
	width: 2%;
	left: 39%;
}

.right{
    position: fixed;
    left: 500px;
	float:left;
    width:59%;
    height: 100%;
	box-sizing:border-box;
	padding:10px;
	min-height:200px;
	text-align: center;
}
