.parent{
	width:100%;
}

.body{
	/*background-color: #22252c;*/
	background-color: #f8f8f8;
}

.test{
	font-family: "Sans-serif", Verdana;
	color: #222222;
}

.man_node{
	/*fill: #ffffff;*/
}

.male{
	display:inline-block;
}

.female{
	display:inline-block;
}

.clicked{
	fill: #FF4040;
	stroke: white;
}

.legend{
	font-family: "Sans-serif", Verdana;
}

.headers{
	font-family: "Sans-serif", Verdana;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

#main_head{
	font-family: "Sans-serif", Verdana;
	font-size: 35px;
	text-align: center;
}

#Cause{
	color: #222222;
	font-family: "Sans-serif", Verdana;
	display: inline-block;
	font-size: 30px;
}

#Year{
	font-family: "Sans-serif", Verdana;
	color: #FF4040;
	display: inline-block;
	font-size: 30px;
}

.text{
	font-family: "Sans-serif", Verdana;
	font-size: 20px;
	color: rgb(33, 33, 32);
	text-align: justify;
}

.light{
    color: #FF4040;
}

#counter{
    color: #FF4040;
}

.top{
	position: fixed;
	width: 600px;
	top: 0;
	height: 100px;
	background-color: #f8f8f8;
	text-align: center;
}

.nodes{
}

.left{
	margin-left: 15px;
	margin-top: 200px;
	float:left;
	width:600px;
	box-sizing:border-box;
	padding:5px;
	min-height:200px;
}

.middle{
	float:left;
	width: 2%;
	left: 39%;
}

.right{
    position: fixed;
    left: 600px;
	float:left;
    /*width:59%;*/
    height: 100%;
	box-sizing:border-box;
	min-height:200px;
	text-align: center;
	top: 100;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    pointer-events: none;
}
.tooltip-title{
    font-size:20px;
    font-family: "Sans-serif", Verdana;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}
